body{
	text-align: center;
}
#imp{
	background-color:#001A33	;
	padding-top :5% ;
	padding-bottom: 2%;
	font-family: 'Nunito', sans-serif;
}
.logos
{
color: #fff;
}
.social-icon{
	margin:20px 10px;
}
#a8{

	font-family: 'Bangers', cursive;
	text-decoration: underline;
}



#s77{
	
	font-family: 'Bangers', cursive;
	text-decoration: underline;
}

#a1{
	font-family: 'Bebas Neue', cursive;
}
#a2{
	font-family: 'Bebas Neue', cursive;
}
#a3{
	font-family: 'Bebas Neue', cursive;
}
#a4{
	font-family: 'Bebas Neue', cursive;
}
#a5{
	font-family: 'Bebas Neue', cursive;
}
#a9,#a10{

	font-family: 'Bangers', cursive;
	text-decoration: underline;

}

.fa-map-marker:hover {
    color: #32e0c4;!important
}
.fa-envelope:hover {
    color: #32e0c4;!important
}
#sk{
	width:75%;
	color:#fff;
}
.sh3{
	width:100%;
	font-size: 4vw;
	color:#fff;
	font-family: 'Nunito', sans-serif;

	margin:5% 4%;
}
#cotct{
	background-color:#001A33;
	padding:1% 7%;
	
}


.fcot{
	width:50%;
	text-align: center;
	margin:auto;
	padding:3% 5%;
	line-height: 1.5;
	color:#fff;
	font-size: 1rem;
}



#title{
	background-image:url('https://www.chromethemer.com/download/hd-wallpapers/dark-forest-3840x2160.jpg');
	
	background-size: cover;
	
	background-repeat: no-repeat;

	padding-bottom: 15%

	
}

.social{
	color:white;
}

#testimonials{
	background-color: #001A33;

	
	
	padding:3% 3%;
}
#press{
	background-color: #001A33;
	padding:5% 5%;
	text-align: center;

}

/* navbar */

p{
	font-family: 'Ubuntu', sans-serif;
}

.navbar {
  padding: 2% 3%;
}
.navbar-brand{
	font-family: 'Ubuntu', sans-serif;
	opacity: .7;
}
.nav-item
{
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	font-weight: 1.5rem;


}



#contact-form11{
 
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{

  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 5% 0;
  border: 0;
  background: black;
  padding: 2% 4%;
  outline: none;
  color: #fff;
  transition: 0.5s;

}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
.textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 3% 7%;
  border-radius: 20%;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}

#testi{
	
	width:90%;
}
h1{
	font-size: 4rem;
	opacity: .7;
	font-family: 'Montserrat', sans-serif;
	
	
}
h2
{
	width:0ch;
	overflow: hidden;
	white-space: nowrap;
	animation: text 6s steps(14) infinite alternate;
	border-right:solid white;
	font-family: 'Montserrat', sans-serif;

}
h5{
	font-size: 5vw;
	opacity: .7;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
hr{
margin-top: 5%;
border-color:	#fff ;
border-style: none;
border-top-style: dotted;
border-width:2vw;
opacity:0.2;

width: 40%
}
#co{
	color: #fff;
	text-align: center;
	opacity: .7;

	font-family: 'Bangers', cursive;
	text-decoration: underline;
}
.for{
	text-align:center;
	width:80%;
	margin:auto;
	font-family: 'Ubuntu', sans-serif;
}

.tyty
{
	color:#fff;
	opacity: .8;
	text-align: center;
	padding: 5% 7%
	font-family: 'Ubuntu', sans-serif;
}
.webd{
	padding :3%;
	font-family: 'Ubuntu', sans-serif;
}
.webd1{
	width:30%;
	border-radius: 100%;
	float: left;
	font-family: 'Ubuntu', sans-serif;
}

.webd2{
	width:30%;
	border-radius: 100%;
	float: left;
	font-family: 'Ubuntu', sans-serif;
	
	
}
.n-p{
	width:60%;
	text-align: center;
	margin:8% auto;
	line-height: 2;
	font-family: 'Ubuntu', sans-serif;
}
@keyframes text{
	0%{
		width:0ch;
	}
	50%{
		width:14ch;
	}

}
#testi1{
margin-bottom: 7%;
font-size:6vw;
color:#fff;
opacity: .6;
font-family: 'Montserrat', sans-serif;

}
#testi1{
	font-family: 'Bangers', cursive;
	text-decoration: underline;
}
.c{
	margin-top: 3%;
}
.name-head{
	text-align: center;
	padding-top:75px;
	
	
	color:#fff;
}
.naman{

	text-align: center;

}

@media(min-width: 600px){
	.naman {
		margin:auto;
	
	}
	.naman #f{
		margin: 5% auto;
	}

}
@media(max-width: 600px){
	#e{
		font-size:2rem;
	
	}
	#f{
		margin:5% auto;
		font-size: 1.5rem;
	}
	#sk .sh1{
		font-size:1.5rem;

	}
	.naman
	{
		margin:auto;
	}
	.naman #f{
		margin:auto;
	}

}


}
/* skills sectio */



.skills{
	background-color: #fff;
	width:100%;

}
.skills-bar {
  text-align: right; /* Right-align text */
  padding-top: 2%px; /* Add top padding */
  padding-bottom: 2%px; /* Add bottom padding */
  color:#001A33  ; /* White text color */
  padding-right: 2%;
  border-radius: 10%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.ht,.jv,.py,.ds,.mern { 
	background-color: #fff;
	opacity: 0.5;

	
	animation-duration: 8s;
}
.ds
{
	animation-name: ok2;
width:75%;
}
.jv{
	animation-name: ok1;
	width:80%;
}
.py{
	animation-name: ok1;
	width:80%;
}
.ht{
	animation-name: ok4;
	width:60%;
}
.mern{
	animation-name: ok3;
	width:50%;
}
@keyframes ok1{
0%{
width:0%;
}
25%{
	width:30%;
}
50%{
	width:60%;
}
75%
{
	width:80%;
}

}
@keyframes ok2{
0%{
width:0%;
}
25%{
	width:25%;
}
50%{
	width:50%;
}
75%
{
	width:75%;
}

}
@keyframes ok3{
0%{
width:0%;
}
25%{
	width:15%;
}
50%{
	width:32%;
}
75%
{
	width:50%;
}

}
@keyframes ok4{
0%{
width:0%;
}
25%{
	width:20%;
}
50%{
	width:40%;
}
75%
{
	width:60%;
}

}
